<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListaAreas"
        tools:targetApi="31">
        <activity
            android:name=".ClaseR"
            android:exported="false" />
        <activity
            android:name=".Cuadrado"
            android:exported="false" />
        <activity
            android:name=".Rectangulo"
            android:exported="false" />
        <activity
            android:name=".Triangulo"
            android:exported="false" />
        <activity
            android:name=".Circulo"
            android:exported="false"
            android:label="@string/title_activity_circulo"
            android:theme="@style/Theme.ListaAreas" />
        <activity
            android:name=".TrianguloActivity2"
            android:exported="false"
            android:label="@string/title_activity_triangulo2"
            android:theme="@style/Theme.ListaAreas" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>